.cover-image {
    filter: brightness(60%);
}

.heading-size {
    font-size: 2.5rem;
}

.para-size {
    font-size: 1rem;
}

.fa-facebook,
.fa-twitter,
.fa-linkedin,
.fa-youtube {

    color: white;
    font-size: 2rem;
    padding: 0 1%;
}

.fa-star {
    color: yellow;
}